body{
    background-image: url(/imgs/Sewer-Maintenance.png);
    background-size: cover;
    overflow:hidden;
    background-repeat: no-repeat;
}

.door:hover {
background-color: rgba(255, 255, 255, 0.24);

}

.game-screen {
    position:absolute;
    width:100vw;
    height:100vh;
}

.door{
    position: absolute;
    left: 84.4%;
    top: 25%;
    background-color:rgba(255, 255, 255, 0);
    border:rgba(255, 255, 255, 0);
}

.fuzebox {
    position: absolute;
    top: 49%;
    left: 15%;
    width: 9%;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(255, 235, 205, 0);
    
}
.fuzebox:hover{
    background-color: rgba(255, 255, 255, 0.274);
}

img[alt = fuzebox]{
    width: 100%;
}

.popup-content {
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.showPopup {
    transform: translate(730%, 350%);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-color: red;
    background-color: black;
    color: white;
}

th button{
    color: #00000000;
    background-color: black;
} 

.filled{ background:red;}

.code {
position: absolute;
width: 5%;
top: 80%;
left: 50%;
background-color: rgba(240, 248, 255, 0);
border-color: rgba(255, 235, 205, 0);
}

img[alt="code"] {
    width: 100%;
}

.code-content {
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.code:hover {
    background-color: rgba(255, 255, 255, 0.274);
}
